$prefix:er;

// 基础色调
$primary:#409EFF;
$success:#5CBB7A;
$warning:#e6a23c;
$info:#8896B3;
$danger:#f56c6c;

// 内容
$primary-text:#303133;
$regular-text:#606266;
$secondary-text:#909399;
$placeholder:#909399;

// 边框
$border-base:#DCDFE6;
$border-light:#E4E7ED;
$border-lighter:#EBEEF5;
$border-extralight:#F2F6FC;

// 背景底色
$background-b:#000000;
$background-w:#FFFFFF;
$background-t:"transparent";
