@charset "UTF-8";
@import "./../../style/globalVar.scss";

.#{$prefix}-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  @each $var in (start, end, center, space-around, space-between) {
    &.is-#{$var}{
      justify-content: $var;
    }
  }

  @each $key, $value in (top: flex-start, middle: center, bottom: flex-end) {
    &.is-#{$key}{
      align-items: $value;
    }
  }
}