@charset "UTF-8";
@import "./../style/function.scss";
@import "./../style/globalVar.scss";

@mixin active($color){
  background:brandColorMix($color,20%);
  border-color:brandColorMix($color,20%);
  color: #fff;
  outline: none;
}

@mixin plain($color){
  color:brandColorMix($color,10%);
  background:brandColorMix($color,90%);
  border-color:brandColorMix($color,60%);
}


.#{$prefix}-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  &+&{
    margin-left: 10px;
  }
  &:not(.is-disabled):active {
    @include active($primary)
  }
  &.is-disabled{
    cursor: not-allowed;
    opacity: 0.6;
  }

  @each $var in (round,circle) {
    $parm:20px;
    @if $var == round {
      $parm:20px;
    }
    @if $var == circle {
      $parm: 50%;
    }
    &.is-#{$var}{
      border-radius: $parm;
      padding: 12px;
    }
  }

  @each $var in (primary,success, warning, info,danger) {
    $parm:$primary;
    // #{}引用变量
    &#{&}-#{$var} {
      @if $var == primary {
        $parm: $primary;
      }
      @if $var == success {
        $parm:  $success;
      }
      @if $var == warning {
        $parm: $warning;
      }
      @if $var == info {
        $parm: $info;
      }
      @if $var == danger {
        $parm: $danger;
      }
      background-color: $parm;
      border-color: $parm;
      color: #FFFF;
      &.is-plain{
        @include plain($parm)
      }
      &:not(.is-disabled):active {
        @include active($parm)
      }
    }
  }
}